In [12]:
### Declaration and Assigning

name = "Nagaraj LONI"
age = 20
heigth = 5.10
is_student = True

print("Name:",name )
print("age:",age )
print("heigth:",heigth )
print("Is_student:",is_student )

Name: Nagaraj LONI
age: 20
heigth: 5.1
Is_student: True

In [13]:
# Naming Conventation

'''
var name should be:-
1.Start _, letter
2.case sensitive
3.more

Valid :- First_name, _isStudent, f_name, is100.....
In-Valid :- 2f_name, first-name, f=name, @name....

'''
'''
First_name = "NS"
2f_name = "ns"

print(First_name)
print(2f_name)  # invalid decimal literal

'''

'\nFirst_name = "NS"\n2f_name = "ns"\n\nprint(First_name)\nprint(2f_name)  # invalid decimal literal\n\n'

In [14]:
# Case sensitive

name = "nsloni"
Name = "NS-LONI"

print(name)
print(Name)

nsloni
NS-LONI

In [15]:
# Type checking & Conversion

# 1
age = 20

print(type(age)) # <class 'int'>

age = str(age)
print(type(age)) # <class 'str'>

# 2

age = "20"
print(type(int(age)))  # <class 'int'>

<class 'int'>
<class 'str'>
<class 'int'>

In [16]:
# name = "nsloni"

# print(type(int(name)))

In [17]:
age = 20

print(float(age))

20.0

In [ ]:
# dynamic Typing
# Python allows type of variable change as  the progrem execution
var = 10
print(var, type(var))
#print(var, type(var))

var = "NS LONI"
print(var, type(var))
# NS LONI <class 'str'>

var = 20.5
print(var, type(var))
# 20.5 <class 'float'>

var = True
print(var, type(var))
# True <class 'bool'>

10 <class 'int'>
NS LONI <class 'str'>
20.5 <class 'float'>
True <class 'bool'>

In [ ]:
age = input("Enter the age: ")
print(age, type(age))
# age = input("Enter the age: ")

age = int(input("Enter the age: "))
print(age, type(age))
# 20 <class 'int'>

20 <class 'str'>
20 <class 'int'>

In [22]:
num1 = int(input("Enter the num1:"))
num2 = int(input("Enter the num2:"))
sum = num1 + num2

print(sum)

39